@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

a,
input,
textarea,
button,
select,
img,
label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img,
svg,
input {
  display: block;
}
button {
  cursor: pointer;
}

.nav__item-infor {
  @apply relative lg:after:absolute lg:after:-bottom-1 lg:after:left-0 lg:after:bg-coffee-300 lg:after:h-0.5 lg:after:w-0 group-hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-250;
}

.nav-expand {
  @apply absolute top-16 left-0 bg-white w-full rounded-lg text-center animate-dropDown;
}

.ct-icon {
  @apply w-4 h-4 inline-block;
}

.ct-badge {
  @apply px-1.5 rounded-full text-xs text-center;
}

.nav__item--active > a {
  @apply text-gray-800;
}

.btn {
  @apply uppercase font-bold text-xs tracking-[2px]  px-6 bg-white;
}

button.btn {
  @apply py-4 text-black hover:opacity-95;
}

.heading {
  @apply flex items-center justify-center gap-4 my-[75px] md:my-[100px] tracking-[2px] text-xs leading-[18px] text-[#9b9b9b] text-center uppercase font-bold;
}

.heading::after,
.heading::before {
  @apply content-[''] h-[1px] w-[30px] bg-[#b3b3b8];
}
